.customer {
  position: relative;
  padding-top: 154px;
  padding-bottom: 170px;

  @media screen and (min-width: 768px) {
    padding-top: 279px;
    padding-bottom: 197px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 382px;
    padding-bottom: 234px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 85px;
  object-fit: cover;
  margin-bottom: 15px;
}

.swiper-pagination {
  margin-top: 35px;
}

.swiper-pagination-bullet-active {
  background-color: #c7133e;
  background-size: cover;
  border-radius: unset;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d31342;
  color: #d9d9d9;
}

.customer__text {
  position: relative;
  width: 280px;
  padding: 43px 66px 26px 57px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: $textblackcolor;
  background-color: #fafafa;

  @media screen and (min-width: 480px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    width: 620px;
    padding: 47px 80px 34px 80px;
    font-size: 14px;
    line-height: 2.16;
  }

  @media screen and (min-width: 1280px) {
    width: 926px;
    padding: 32px 54px 32px 50px;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
  }
}

.customer__text::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 50px;
  //   background-image: url('../images/quotes@1x.png');
  opacity: 0.5;
  width: 54px;
  height: 40px;
}

.customer__dots {
  color: #c7133e;
  margin-top: 15px;
  margin-bottom: 15px;
}

.customer__name {
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: $textblackcolor;
}
